body {
    border-style: solid;
    background-image: url("../images/pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    display: grid;
    /*grid-template-columns: 100px 100px auto 100px 100px;*/
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%; 
    grid-template-rows: 50px 100px 100px 100px auto 100px 100px 100px 100px auto;
    /*border-style: solid;*/
}

.heading {
    /*border-style: solid;*/
    color: white;
    grid-column-start: 4;
    grid-column-end: 8;
    text-align: center;
    grid-row-start: 2;
    /*grid-row-end: span 1;*/
    text-shadow: 2px 2px 4px #000000;
    font-size: 80px;
}

.inputBurger {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 30px;
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 3;
    text-align: center;
    /*border-style: solid;*/
    padding-top: 10px
}

.burgText {
    /*height: 40px;*/
    margin-top: 10px;
    font-size: 24px;
}

.burgerContainer {
	grid-column-start: 3;
	grid-column-end: 5;
    /*border-style: solid;*/   
}

.eatenContainer {	
	grid-column-start: 7;
	grid-column-end: 9;
    /*border-style: solid;	*/
}

.burgerWell {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    background-color:rgba(0,0,0,0.3);
    border-radius: 25px;
    grid-row-start: 5;
}

.burgerCell {
	text-align: left;
	/*border-style: solid;*/
	/*color: white;*/
    margin-bottom: 10px;
    max-width: 80%;
	grid-column-start: 2;
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	background-color:rgba(0,0,0,0.4);
	border-radius: 10px;
}

.submit {
	margin-top: 10px;
	height: 40px;
	font-size: 24px;
}

.burgerName {
	grid-column: 2 / 4;
}

.eat {
	grid-column-start: 4;
    max-height: 50%;
}